# 201910803 박채희 5주차 과제

In [14]:
import pyspark

In [15]:
myConf=pyspark.SparkConf()
spark=pyspark.sql.SparkSession.builder.master("local").appName("myApp").config(conf=myConf).getOrCreate()

In [28]:
data = [('김하나','English',100),('김하나','Math',80),('임하나','English',70),('임하나','Math',100),('김갑돌','English',82.3),('김갑돌','Math',98.5)]

Rdd=spark.sparkContext.parallelize(data)

## 3-1. 이름으로 합계 구하기

In [29]:
s1 = Rdd.map(lambda x: (x[0], x[2]))

In [30]:
t1 = s1.combineByKey(lambda value: value,
                     lambda x,value: x+value,
                     lambda x: x)

In [31]:
t1.collect()

[('김하나', 180), ('임하나', 170), ('김갑돌', 180.8)]

## 3-2. 과목으로 합계 구하기

In [32]:
s2=Rdd.map(lambda x: (x[1], x[2]))

In [35]:
t2 = s2.combineByKey(lambda value: value,
                     lambda x,value: x+value,
                     lambda x: x)

In [36]:
t2.collect()

[('English', 252.3), ('Math', 278.5)]

## 3-3. 이름으로 합계와 개수 구하기

In [37]:
s3 = Rdd.map(lambda x: (x[0], x[2]))

In [39]:
t3 = s3.combineByKey(lambda value: (value,1),
                     lambda x,value: (x[0]+value, x[1]+1),
                     lambda x,y: (x[0]+y[0], x[1]+y[1]))

In [40]:
t3.collect()

[('김하나', (180, 2)), ('임하나', (170, 2)), ('김갑돌', (180.8, 2))]

## 3-4. 이름으로 평균 구하기

In [55]:
s4 = t3.map(lambda x: (x[0],x[1][0]/x[1][1]))

In [56]:
s4.collectAsMap()

{'김갑돌': 90.4, '김하나': 90.0, '임하나': 85.0}